body {
    display: block;
    margin: auto;
    background: #222222;
    font-family: Tahoma, Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    color:white;
    font: 68px Garamond, Helvetica, serif;
    text-shadow: 2px 2px whitesmoke;
    transform: rotate3d(25,305,45,-45deg);
}
    

table {
    width: 50%;
    color: black;
}

thead {
    text-align: left;
}

label {
    display: block;
}

form{
    margin: 5px 20px 25px;
}

.title{
    background-color:darkgray;
    background-blend-mode:color-burn;
    width: 60%;
    margin: auto;
    padding: 2em 0;
    border: 1rem solid blue;
    border-bottom-right-radius: 10rem;
    border-radius: 7rem 0 10rem 0;
    text-decoration: blue dotted underline overline 1rem;
}

.blue{
    color:blue;
}
.cambria{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact {
    display; block;
    margin: 0px auto;
    border: 5px solid blue;
    width: 300px;
}

.menu{
    border: 15px ridge darkgray;
    border-radius: 15px;
    padding: 5px;
    margin: 5px auto;
    background-color: black;
}

.menuHead{
    background-color: Gray;
    border: 2px solid gray;
    font: bold 18px arial;
}

.menuBody{
    background: white;
    border: 2px solid gray;
    padding:2px;
    margin:2px;
}

.inline{
    display: inline;
}

.spacing{
    padding: 25px 0px 0px 0px;
}

#submit-btn {
    margin: 5px auto;
    display: block;
}

