div{
    background-color:lightgray;
    border-radius: 2rem;
    width: 15rem;
}

div input, div label{
    margin: .5mrem;
    font-family: 'Comic Sans MS';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    max-height: 1.1rem;
}

h2{
    text-align: center;
    margin: .5rem, 0;
}

#results{
    padding: 1rem;
    margin: 1rem;
}