body{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    padding: 0 20%;
}

li input{
    display: none;
}

li.edit span{
    display: none;
}

li.edit input{
    display: initial;
}